* {
  box-sizing: border-box;
}

.twitter-tweet {
  max-width: 90%;
  width: 100%;
}

.twitter-tweet p {
  margin: 0;
  padding: 0;
}

/**************************\
  styles slider
\**************************/

.swiper-slide {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  transition: all 250ms ease-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Изменение размера иконки внутри кнопки */
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  pointer-events: all;
  cursor: not-allowed;
}

.twitter-videos-slider {
  display: flex;
  justify-content: center;
}

.slider-container {
  max-width: 540px;
  width: 100%;
}

.swiper {
  max-width: 540px;
  width: 100%;
}

.swiper-video {
  min-height: 260px;
}

@media screen and (min-width: 768px) {
  .swiper-video {
    min-height: 382px;
  }
}

.swiper-preview {
  max-width: 540px;
  width: 100%;
  overflow: hidden;
}

.swiper-image-preview {
  display: block;
  width: 106px;
  height: 62px;
  object-fit: cover;
}

.swiper-slide-preview {
  opacity: 0.6;
  max-width: 128px;
}

.swiper-slide-preview.swiper-slide-thumb-active {
  opacity: 1;
}
